@model Projet2.ViewModels.ProfilViewModel
@{
    Layout = "_Layout";
}


@if (Model.Authentifie)
{
    <h3>Vous êtes déjà authentifié !</h3>
    <br />
    @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
    
}
else
{
    <h4>
        Veuillez vous authentifier :
    </h4>
    using (Html.BeginForm())
    {
        <div class="mb-3">
            @Html.LabelFor(m => m.Profil.Mail)
            @Html.TextBoxFor(m => m.Profil.Mail)
            @Html.ValidationMessageFor(m => m.Profil.Mail)
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.Profil.Password)
            @Html.PasswordFor(m => m.Profil.Password)
            @Html.ValidationMessageFor(m => m.Profil.Password)
        </div>
        <input type="submit" class="btn btn-primary" value="Se connecter" />
        <br />
        <br />
        @Html.ActionLink("Créer un compte", "SignIn")
    }
}


