@model Projet2.Models.Commande
@{
    Layout = "_Layout";
    ViewBag.Title = "Vos achats";
    double total = 0;
}

<div class="container mt-3">
    <h2>Votre liste de paniers</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Votre article</th>
                <th>Description</th>
                <th>Quantité</th>
                <th>Prix unitaire</th>
                <th>Supprimer commande</th>
            </tr>
            @foreach (Projet2.Models.Commande comm in ViewData["Commandes"] as List<Projet2.Models.Commande>)
            {
                @if (comm.ClientId.Equals(ViewData["Id"]))
                {
                    @foreach (Projet2.Models.Panier panier in ViewData["Paniers"] as List<Projet2.Models.Panier>)
                    {
                        @if (panier.Id == comm.PanierId && comm.Payee == false)
                        {
                            <tr>
                                <td><img class="img-thumbnail" src="@panier.LienImage" width="100" height="100"></td>
                                <td><p class="text-center">@panier.Description</p></td>
                                <td><p class="text-center">@comm.QtePanier</p></td>
                                <td><p class="text-center">@panier.Prix</p></td>
                                <td><button class="btn btn-primary">Supprimer</button></td>
                            </tr>
                            total = total + panier.Prix * comm.QtePanier;
                        }
                    }
                }
            }
        </thead>
    </table>
    <h3>Total : @total €</h3>
    <div>
        <div class="btn-group btn-group-lg"><button type="submit" class="btn btn-warning">@Html.ActionLink("Paiement", "Paiement", "Home",null, new {style="text-decoration:none;"})</button></div>
    </div>
</div>



