

@{
    Layout = "_Layout";
    ViewBag.Title = "Création de Panier";
}
@model Projet2.Models.Panier

<h4>Veuillez fournir une description détaillée pour nos fidèles adhérents d'AMAP Online</h4>
<form action="" method="post" enctype="multipart/form-data">
<fieldset>
    <legend>Création de panier : </legend>
    <table>
        <tr>
                <label for="file">Votre panier en photo : </label>
                <input type="file" name="PhotoPanier" id="PhotoPanier"/>
        </tr>
        <tr>
                <td>@Html.LabelFor(m => m.QuantitePanier)</td>
                <td>@Html.TextBoxFor(m => m.QuantitePanier, new { type="number", min="0"})</td>
                <td>@Html.ValidationMessageFor(m => m.QuantitePanier)</td>
        </tr>
        <tr>
                <td>@Html.LabelFor(m => m.Description)</td>
                <td>@Html.TextBoxFor(m => m.Description)</td>
                <td>@Html.ValidationMessageFor(m => m.Description)</td>
        </tr>
        <tr>
                <td>@Html.LabelFor(m => m.Prix)</td>
                <td>@Html.TextBoxFor(m => m.Prix, new { type="number", min="0"})</td>
                <td>@Html.ValidationMessageFor(m => m.Prix)</td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Mettre en ligne le panier" />
    <br>
</fieldset>
</form>
